
<style>
    .guidedImg{
        background: url(../assets/guidedaction.png) left -16px no-repeat;
        background-size:100% 44px;
        height:44px;
    }
  .guidedImg ul li{
    margin: 0.5em 0em 0em;
    padding: 0;
  }
  .guidedImg ul li img{
      margin-left:0.25em;
  }
</style>

<div class="row">
  <div class="small-12 guidedImg">
    <ul class="small-block-grid-4 show-for-small-only text-center">
      <li><img src="../assets/icon_ga_size.png"/></li>
      <li><img src="../assets/icon_ga_photo.jpg"/></li>
      <li><img src="../assets/icon_ga_edit.jpg"/></li>
      <li><img src="../assets/icon_ga_cart.jpg"/></li>
    </ul>
    <ul class="small-block-grid-4 hide-for-small-only text-center">
      <li>Size and Orientation</li>
      <li>Choose Photo</li>
      <li>Preview / Edit</li>
      <li>Cart / Upsell</li>
    </ul>
    <!--<img data-interchange="[../assets/small_ga_size.jpg, (small)],[../assets/small_ga_size.jpg, (medium)],[../assets/large_ga_size_notext.jpg, (large)]" class="small-12" />
    <noscript><img src="../assets/small_ga_size.jpg" class="small-12" /></noscript>-->

  </div>
</div>