
<div class="row">
  <div class="small-8 columns header-top-margin">
    <img src="../assets/wg-logo.jpg" />
  </div>
  <div class="small-4 columns"></div>
</div>

<div class="row">
  <div class="small-12 header-greybar"></div>
</div>

<div class="row">
  <div class="small-3 columns">
    <h2 class="headTitle">Poster</h2>
  </div>
  <div class="small-9 columns text-right" style="margin:15px 0px">
    <span style="font-size:1em"><span class="blueText">11x14 Poster Print</span> &nbsp;&nbsp;$10.99</span></div>
</div>

<!-- Guided Image -->
<div class="row">
  <div class="small-12 guidedImg step-edit">
    <ul class="small-block-grid-4 show-for-small-only text-center">
      <li><img src="../assets/icon_ga_size.jpg"/></li>
      <li><img src="../assets/icon_ga_photo.jpg"/></li>
      <li><img src="../assets/icon_ga_edit_on.jpg"/></li>
      <li><img src="../assets/icon_ga_cart.jpg"/></li>
    </ul>
    <ul class="small-block-grid-4 hide-for-small-only text-center">
      <li>Size and Orientation</li>
      <li>Choose Photo</li>
      <li class="selected">Preview / Edit</li>
      <li>Cart / Upsell</li>
    </ul>
  </div>
</div>
<br/>
<div class="row">
  <div class="small-12 columns">
    <h3 class="subtitle">Preview / Edit</h3>
  </div>
</div>
<br/>
<div id="test" class="row">
  <div class="small-12 medium-8 large-6 medium-offset-2 large-offset-3">
    <img src="" id="myCanvas" class="small-12 columns" />
    <!-- Tooltip for Edit options-->

  </div>
</div>

<div class="row">
  <div class="small-12 text-center">
    <div class="tip">
      <div class="uparrow"></div>
      <div class="content-wrapper-tooltip">
        <p>By tapping image<br/>toggle preview to edit modes</p>
      </div>
    </div>
    <br><br>
    <a class="button btn-primary" id="done" href="#">Done</a>
  </div>
</div>
<br><br>

<!-- Edit options Slider -->
<div id="EditSlider" class="hide">
  <div id="rg-gallery" class="rg-gallery">
    <div class="rg-thumbs">
      <!-- Elastislide Carousel Thumbnail Viewer -->
      <div class="es-carousel-wrapper">
        <div class="es-nav">
          <span class="es-nav-prev">Previous</span>
          <span class="es-nav-next">Next</span>
        </div>
        <div class="es-carousel">

          <ul>
            <li>
              <img src="../assets/autoenhance.png">
              <div style="margin-top: 5px;font-size:14px;" class="blueText">Auto Enhance</div>
            </li>
            <li>
              <img src="../assets/crop.png">
              <div style="margin-top: 5px;font-size:14px;" class="blueText">Crop</div>
            </li>
            <li id="counterclockwise">
              <img src="../assets/ACWR.png">
              <div style="margin-left: 25px;margin-top: 5px;font-size:14px;" class="blueText">Rotate</div>
            </li>
            <li id="clockwise"><img src="../assets/CWR.png"></li>
            <li id="brightnessLow">
              <img src="../assets/remove_brighness.png" style="margin-left:20px;">
              <div style="margin-left: 55px;margin-top: 10px;font-size:14px;" class="blueText">Brightness</div>
            </li>
            <li>
              <img src="../assets/brighness_icon.png">
            </li>
            <li id="brightnessUp"><img src="../assets/add brightness.png"></li>
            <li id="zoomInId">
              <img src="../assets/zoomin.png">
              <div style="margin-left: 30px;margin-top: 10px;font-size:14px;" class="blueText">Zoom</div>
            </li>
            <li id="zoomOutId"><img src="/assets/zoomout.png"></li>
            <li>
              <img src="../assets/redeye.png"/>
              <div style="margin-top: 10px;font-size:14px;" class="blueText">Red eye removal</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Elastislide Carousel Thumbnail Viewer -->
  </div><!-- rg-thumbs -->
</div>